body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .band-header-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr 2fr 2fr;
    border: 1px solid #3F2305;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .band-header {
    padding: 5px;
    border: 1px solid #000;
  }

  .band-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr 2fr 2fr;
    border: 1px solid #3F2305;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 5px;
  }

  .band-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 3fr 1fr;
    border: 1px solid #000;
  }

  .band {
    border: solid 1px lime;
    width: 100%;
  }

  .band-data {
    text-align: left;
    padding: 5px;
    border: 1px solid #000;
  }